@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -------------------------------------------------------------------
--------------   COLORS    --------------
--------------------------------------------------------------------*/
/* -------------------------------------------------------------------
--------------   SPACING    --------------
--------------------------------------------------------------------*/
/* -------------------------------------------------------------------
--------------   MEDIA QUERRIES    --------------
--------------------------------------------------------------------*/
/* -------------------------------------------------------------------
--------------   EASE FUNCTIONS    --------------
--------------------------------------------------------------------*/
body {
  font-family: 'Lato', Arial, Helvetica, sans-serif;
  font-size: 16px;
  color: #353C3A;
}

h1 {
  font-size: 1, 75‬rem;
  letter-spacing: 0.01rem;
  line-height: 130%;
  font-weight: 700;
}

h2 {
  font-size: 1, 5‬rem;
  line-height: 130%;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

h3 {
  font-size: 1, 125rem;
  line-height: 135%;
  letter-spacing: 0.05rem;
  font-weight: 700;
}

p,
a {
  font-size: 1rem;
  line-height: 135%;
  letter-spacing: 0.05rem;
  font-weight: normal;
}

p.small,
a.small {
  font-size: 0.875rem;
}

p.big,
a.big {
  font-size: 1, 125rem;
}

a {
  text-decoration: underline;
  color: #353C3A;
}

h1 {
  font-size: 1, 9rem;
}

h1 {
  font-size: 2, 18rem;
}

header {
  height: 50px;
  position: relative;
}

header > * {
  position: fixed;
  left: 5%;
}

header div.hamburger-menu--container {
  top: 37.03704px;
  z-index: 100;
  cursor: pointer;
}

header nav {
  top: 75px;
  z-index: 150;
}

nav {
  background: #FFFFFF;
  padding: 50px;
  display: block;
}

nav[aria-expanded="true"] {
  display: none;
}

nav ul {
  text-align: center;
}

nav ul li a {
  display: block;
  position: relative;
  padding: 15px;
  color: #353C3A;
  text-decoration: none;
  font-style: normal;
  font-weight: 700;
  line-height: 135%;
  letter-spacing: 5%;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
}

nav ul li a::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-transform-origin: bottom;
          transform-origin: bottom;
  bottom: 10px;
  height: 3px;
  width: 100%;
  background: transparent;
  pointer-events: none;
  -webkit-transition: background-color 200ms ease-in, -webkit-transform 350ms cubic-bezier(1, 0.01, 0.32, 1.18);
  transition: background-color 200ms ease-in, -webkit-transform 350ms cubic-bezier(1, 0.01, 0.32, 1.18);
  transition: transform 350ms cubic-bezier(1, 0.01, 0.32, 1.18), background-color 200ms ease-in;
  transition: transform 350ms cubic-bezier(1, 0.01, 0.32, 1.18), background-color 200ms ease-in, -webkit-transform 350ms cubic-bezier(1, 0.01, 0.32, 1.18);
}

nav ul li a:hover {
  color: #FFFFFF;
  -webkit-transition: color 200ms ease;
  transition: color 200ms ease;
  -webkit-transition-delay: 300ms;
          transition-delay: 300ms;
}

nav ul li a:hover::before {
  background: #353C3A;
  -webkit-transform: translateX(-50%) scaleY(10);
          transform: translateX(-50%) scaleY(10);
}

main {
  background: #21EBD5;
  height: 70vh;
}
/*# sourceMappingURL=style.css.map */