:root > h1 {
  font-size: calc(1vw + 1vh + .5vmin);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/*HTML RESET CODE */
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, form, label, legend, caption, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
  background: #cccccc;
  font-family: 'Open Sans', sans-serif;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: '';
}

a {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/* The first part is to condition our <body> tag in CSS so that there are no margins and the height will always remain 100% of the screen. This will ensure that the greatest amount of screen is available for use. */
html, body {
  height: 100%;
}

/* Ensure that a vertical scroll bar is always displayed in the browser. Because the proportions of the website are all relative, the sudden appearance of a scroll bar (which could be triggered by an interactive component on your website) will cause your site to jump. In CSS, we can use this simple trick to ensure that the bar is always there, thus preventing jumping. */
html {
  overflow-y: scroll;
}

/* In order for images to fit within any screen, they need to be scaled. There are several ways to do this but a good starting point is to make all images have a width of 100%. */
img {
  max-width: 100%;
  border-style: none;
  height: auto;
}

/* Unfortunately, max-width is not supported in older versions of Internet Explorer, so a conditional comment is also included, denoted with an asterisk. */
*img {
  width: 100%;
  border-style: none;
}

/* The 'clearfix' class clears a row of floated boxes. */
.clearfix {
  clear: both;
  font-size: 0;
  line-height: 0;
  margin: 0;
  padding: 0;
  display: table;
  content: "";
}

p {
  margin: 0;
}

body {
  font-family: "Sarabun", Arial, Helvetica, sans-serif;
}

@media only screen and (min-width: 0px) {
  h1 {
    font-size: 28px;
    font-weight: 800;
    color: #0D0D0D;
    line-height: 50px;
    letter-spacing: 0.5px;
    margin: 30px 0;
  }
  h2 {
    font-size: 24px;
    font-weight: 800;
    color: #0D0D0D;
  }
  h3 {
    font-size: 22px;
    font-weight: 800;
    color: #0D0D0D;
  }
  p, li {
    font-size: 16px;
    font-weight: 500;
    color: #0D0D0D;
    line-height: 27px;
    letter-spacing: 0.002em;
  }
  p > strong {
    font-weight: 800;
  }
  a {
    font-size: inherit;
    text-decoration: underline;
    font-weight: 800;
    color: inherit;
  }
  a:hover {
    color: #ffffff;
  }
  .extra_small_paragraph {
    font-size: 16px;
  }
}

@media only screen and (min-width: 801px) {
  h1 {
    font-size: 45px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 26px;
  }
  p, li {
    font-size: 18px;
  }
}

.social_icons__container li {
  display: inline;
}

.social_icons__container li a {
  text-decoration: none;
}

.social_icons__container li span {
  margin: 5px;
}

.social_icons__container li span svg {
  width: 28px;
  height: 28px;
}

.social_icons__container li:hover span svg path {
  fill: #ffffff;
}

@media only screen and (min-width: 0px) {
  header {
    position: relative;
    width: 100%;
  }
  header .hamburger_menu__container {
    position: relative;
    z-index: 3;
    display: block;
    width: 40px;
    height: 28px;
    -webkit-box-sizing: initial;
            box-sizing: initial;
    -webkit-transform: scaleX(1) scaleY(1);
            transform: scaleX(1) scaleY(1);
    -webkit-transition: -webkit-transform 100ms ease-out;
    transition: -webkit-transform 100ms ease-out;
    transition: transform 100ms ease-out;
    transition: transform 100ms ease-out, -webkit-transform 100ms ease-out;
  }
  header .hamburger_menu__container:hover {
    cursor: pointer;
    -webkit-transform: scaleX(1.15) scaleY(1);
            transform: scaleX(1.15) scaleY(1);
    -webkit-transition: -webkit-transform 40ms cubic-bezier(0, 0, 0.99, 1.68);
    transition: -webkit-transform 40ms cubic-bezier(0, 0, 0.99, 1.68);
    transition: transform 40ms cubic-bezier(0, 0, 0.99, 1.68);
    transition: transform 40ms cubic-bezier(0, 0, 0.99, 1.68), -webkit-transform 40ms cubic-bezier(0, 0, 0.99, 1.68);
  }
  header .hamburger_menu__container .hamburger_menu__icon {
    position: absolute;
    display: block;
    left: 0;
    background: #0D0D0D;
    height: 4.5px;
    width: 100%;
    -webkit-transform: rotate(0) scaleX(1);
            transform: rotate(0) scaleX(1);
    -webkit-transition: -webkit-transform 150ms ease-in;
    transition: -webkit-transform 150ms ease-in;
    transition: transform 150ms ease-in;
    transition: transform 150ms ease-in, -webkit-transform 150ms ease-in;
    -webkit-transform-origin: right;
            transform-origin: right;
  }
  header .hamburger_menu__container .ham_1 {
    top: 0;
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  header .hamburger_menu__container .ham_2 {
    -webkit-transform: scaleX(1);
            transform: scaleX(1);
    top: 50%;
    -webkit-transition-delay: 250ms;
            transition-delay: 250ms;
  }
  header .hamburger_menu__container .ham_3 {
    top: 100%;
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
  }
  header .hamburger_menu__container.nav_open .hamburger_menu__icon {
    -webkit-transition: -webkit-transform 300ms ease-out;
    transition: -webkit-transform 300ms ease-out;
    transition: transform 300ms ease-out;
    transition: transform 300ms ease-out, -webkit-transform 300ms ease-out;
  }
  header .hamburger_menu__container.nav_open .ham_1 {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  header .hamburger_menu__container.nav_open .ham_2 {
    -webkit-transform-origin: left;
            transform-origin: left;
    -webkit-transform: scaleX(0);
            transform: scaleX(0);
    -webkit-transition-delay: 50ms;
            transition-delay: 50ms;
  }
  header .hamburger_menu__container.nav_open .ham_3 {
    -webkit-transition-delay: 250ms;
            transition-delay: 250ms;
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  header nav {
    position: absolute;
    z-index: 2;
    top: 45px;
    width: 100%;
    background: #0D0D0D;
    -webkit-box-shadow: 0px 3px 6px rgba(172, 108, 35, 0.3);
            box-shadow: 0px 3px 6px rgba(172, 108, 35, 0.3);
    -webkit-transform: scaleY(0);
            transform: scaleY(0);
    opacity: 0;
    -webkit-transition: opacity 250ms ease, -webkit-transform 250ms ease-in;
    transition: opacity 250ms ease, -webkit-transform 250ms ease-in;
    transition: transform 250ms ease-in, opacity 250ms ease;
    transition: transform 250ms ease-in, opacity 250ms ease, -webkit-transform 250ms ease-in;
    -webkit-transform-origin: top;
            transform-origin: top;
    -webkit-transition-delay: 150ms;
            transition-delay: 150ms;
  }
  header nav ul li {
    margin: 10px 0;
    -webkit-transform: translateX(-20%);
            transform: translateX(-20%);
    opacity: 0;
    -webkit-transition: opacity 20ms ease-in, -webkit-transform 200ms ease-in;
    transition: opacity 20ms ease-in, -webkit-transform 200ms ease-in;
    transition: opacity 20ms ease-in, transform 200ms ease-in;
    transition: opacity 20ms ease-in, transform 200ms ease-in, -webkit-transform 200ms ease-in;
  }
  header nav ul li a {
    padding: 20px 0;
    padding-left: 10px;
    font-weight: 800;
    color: yellow;
    width: 100%;
    display: block;
  }
  header nav ul li:hover a {
    background: #FFD000;
    color: #0D0D0D;
  }
  header nav.nav_open {
    -webkit-transform: scaleY(1);
            transform: scaleY(1);
    opacity: 1;
    -webkit-transition: opacity 200ms ease, -webkit-transform 200ms ease-out;
    transition: opacity 200ms ease, -webkit-transform 200ms ease-out;
    transition: transform 200ms ease-out, opacity 200ms ease;
    transition: transform 200ms ease-out, opacity 200ms ease, -webkit-transform 200ms ease-out;
    -webkit-transition-delay: 200ms;
            transition-delay: 200ms;
  }
  header nav.nav_open ul li {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
    -webkit-transition: opacity 550ms ease-in, -webkit-transform 400ms ease;
    transition: opacity 550ms ease-in, -webkit-transform 400ms ease;
    transition: opacity 550ms ease-in, transform 400ms ease;
    transition: opacity 550ms ease-in, transform 400ms ease, -webkit-transform 400ms ease;
  }
  footer p {
    margin-top: 10px;
  }
}

@media only screen and (min-width: 801px) {
  header nav {
    -webkit-box-shadow: 4px 8px 7px rgba(172, 108, 35, 0.1);
            box-shadow: 4px 8px 7px rgba(172, 108, 35, 0.1);
  }
}

*::-moz-selection {
  background: #ffffff !important;
}

*::selection {
  background: #ffffff !important;
}

body {
  background: #FFD000;
}

body #wrapper {
  overflow: hidden;
}

@media only screen and (min-width: 0px) {
  #wrapper {
    padding: 30px 20px 0;
  }
  main {
    margin: 15vh 0 20vh;
  }
  .break-on-desktop {
    display: inline;
  }
}

@media only screen and (min-width: 801px) {
  #wrapper {
    padding: 30px 50px;
    max-width: 1000px;
  }
}

@media only screen and (min-width: 1300px) {
  #wrapper {
    padding: 30px 100px;
  }
  main {
    margin: 25vh 0 20vh;
  }
}
/*# sourceMappingURL=style.css.map */