@use '../abstracts'as *;
@use '../layout'as *;
@use '../utilities'as *;


footer {
    padding: $midSpace 0 $smallSpace;
    background: $white;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
     > * {
         padding: 0 $containerConstant;
     }
     p {
         color: $midGray;
         margin-top: $smallSpace;
         text-align: center;
     }

     @include for-tablets {
         flex-direction: row;
         p {
             margin-top: 0;
             text-align: left;
             padding-right: 0;
             width: auto;
         }
         nav {
            padding-left: 0px;
         }
     }
}


.footer-social-menu--container{
    ul {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        align-items: center;
        li {
            a{
                padding: $extraSmallSpace/2;
            }
        }
    }
}