@use '../abstracts'as *;
@use '../layout'as *;
@use '../utilities'as *;


// NAV
header {
    height: $largeSpace;
    position: relative;

    >* {
        position: fixed;
        left: $containerConstant;
    }

    div.hamburger-menu--container {
        top: $largeSpace/1.35;
        z-index: 100;
        cursor: pointer;
        box-sizing: content-box;

        div {
            padding: $largeSpace;
            transform: translateX(-$largeSpace) translateY(-$largeSpace);
        }
    }

    nav {
        top: $largeSpace*1.5;
        z-index: 150;
    }
}

nav#navigation-menu {
    background: $white;
    padding: $largeSpace;
    transform: scaleY(1);
    transform-origin: top center;
    opacity: 1;
    transition: opacity 500ms ease, transform 500ms $slowStartEaseEnd;

    ul {
        clip-path: polygon(0 0, 135% 0%, 135% 135%, 0% 135%);

        li {
            transform: translateX(0);
            opacity: 1;
            transition: transform 250ms ease, opacity 700ms ease;
            transition-delay: 450ms;
        }
    }

    &[aria-expanded="false"] {
        transform: scaleY(0);
        opacity: 0;
        transition-delay: 250ms;

        ul {
            li {
                transform: translateX(100%);
                opacity: 0;
                transition-delay: 0;

                &.flipped-animation {
                    transform: translateX(-100%);
                }
            }
        }
    }

    ul {
        text-align: center;

        li {
            a {
                display: block;
                position: relative;
                padding: $midSpace/2;
                color: $gray;
                text-decoration: none;
                font-style: normal;
                font-weight: 700;
                line-height: 135%;
                letter-spacing: 5%;
                transition: color 200ms ease;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    z-index: -1;
                    left: 50%;
                    transform: translateX(-50%);
                    transform-origin: bottom;
                    bottom: $extraSmallSpace;
                    height: 3px;
                    width: 100%;
                    background: transparent;
                    pointer-events: none; // MODENIZR MUST INCLUDE THIS
                    transition: transform 350ms $slowStartEaseEnd, background-color 200ms ease-in;
                }

                &:hover {
                    color: $white;
                    transition: color 200ms ease;
                    transition-delay: 300ms;

                    &::before {
                        background: $gray;
                        transform: translateX(-50%) scaleY(10);
                    }
                }
            }
        }
    }
}

