@use '../abstracts'as *;

@use '../components'as *;

@use '../layout'as *;
@use '../utilities'as *;

// BASE STYLES (MOBILE)
body {
    font-family: 'Lato', Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: $gray;
}

h1 {
    font-size: 1.75rem;
    letter-spacing: 0.01rem;
    line-height: 130%;
    font-weight: 700;
    margin-bottom: $smallSpace;
}

h2 {
    font-size: 1.5‬rem;
    line-height: 130%;
    letter-spacing: 0.05rem;
    font-weight: 700;
    margin-bottom: $largeSpace;
}

h3 {
    font-size: 1.125rem;
    line-height: 135%;
    letter-spacing: 0.05rem;
    font-weight: 700;
    margin-bottom: $extraSmallSpace;
}
p {
    margin-bottom: $extraSmallSpace;
}
p,
a {
    font-size: 1rem;
    line-height: 135%;
    letter-spacing: 0.05rem;
    font-weight: normal;

    &.small > .small {
        font-size: 0.875rem;
    }

    &.big > .big {
        font-size: 1.125rem;
    }
}

a {
    text-decoration: underline;
    color: $gray;

}


// TABLET

@include for-tablets {
    h1 {
        font-size: 1.9rem;
    }
}

// DESKTOP/ LAPTOPS
@include for-laptops {
    h1 {
        font-size: 2.18rem;
    }
}