// -------------------------------------------------------------------
//--------------   COLORS    --------------
//--------------------------------------------------------------------
$black: #060606;
$gray: #353C3A;
$midGray: #525F5B;
$lightGray: #F3F0E8;
$white: #FFFFFF;
$turquoise: #21EBD5;
$darkTurquoise: #3FC9C9;
$seaFoam: #FFD0D0;
$darkSeaFoam: #FFB8B8;
$red: #F98383;
$fadedRed: #FFD2B9;
$fadedYellow: #F5E1AC;

