//  -------------------------------------------------------------------
// --------------   SPACING    --------------
// --------------------------------------------------------------------
$extraSmallSpace: 10px;
$smallSpace: 20px;
$midSpace: 30px;
$largeSpace: 50px;
$extraLargeSpace: 100px;

// DERIVATIVES
$halfMidSpace: $midSpace/2;

// THE VARIABLE THAT CONTROLLS THE BOXYNESS OF THE SITE
$containerConstant: 5%;


//  -------------------------------------------------------------------
// --------------   EASE FUNCTIONS    --------------
// --------------------------------------------------------------------

$slowStartEaseEnd: cubic-bezier(1, .01, .32, 1.18);