
  //#############   SMALL PHONES AND WATCHES
  @media only screen and (min-width: 0px) {
  
    header{
      position: relative;
      width: 100%;

      .hamburger_menu__container{
        position: relative;
        z-index: 3;
        display: block;
        width: 40px;
        height: 28px;
        box-sizing: initial;
        transform: scaleX(1) scaleY(1);
        transition: transform 100ms ease-out;

        &:hover{
          cursor: pointer;
          transform: scaleX(1.15) scaleY(1);
          transition: transform 40ms cubic-bezier(0,0,.99,1.68);
        }
        
        .hamburger_menu__icon{
          position: absolute;
          display: block;
          left: 0;
          background: $black;
          height: 4.5px;
          width: 100%;
          transform: rotate(0) scaleX(1);
          transition: transform 150ms ease-in;
          transform-origin: right;
        }
        .ham_1{
          top: 0;
          transition-delay: 150ms;
        }
        .ham_2{
          transform: scaleX(1);
          top: 50%;
          transition-delay: 250ms;
        }
        .ham_3{
          top: 100%;
          transition-delay: 200ms;

        }


        //HAMBURGER AS AN X
        &.nav_open{
          .hamburger_menu__icon{
            transition: transform 300ms ease-out;
          }
          .ham_1{
            transform: rotate(-45deg);
            transition-delay: 150ms;
          }
          .ham_2{
            transform-origin: left;
            transform: scaleX(0);
            transition-delay: 50ms;
          }
          .ham_3{
            transition-delay: 250ms;
            transform: rotate(45deg);
          }
        }
      }

      nav{
        position: absolute;
        z-index: 2;
        top: 45px;
        //left: -$small_space;
        //padding-left: $small_space;
        width: 100%;
        background: $yellow;
        box-shadow: 0px 3px 6px rgba(172, 108, 35, 0.3);

        transform: scaleY(0);
        opacity: 0;
        transition: transform 250ms ease-in, opacity 250ms ease;
        transform-origin: top;
        transition-delay: 150ms;

        ul{
          li{
            margin: $small_space/2 0 ;
            transform: translateX(-20%);
            opacity: 0;
            //padding: $extra__small_space 0;
            transition:  opacity 20ms ease-in, transform 200ms ease-in;
            a{
              padding: $small_space 0;
              padding-left: $small_space/2;
              font-weight: 800;
              color: $black;
              width: 100%;
              display: block;
            }

            &:hover{
              a{
                color: $white;
              }
            }
          }
        }

        &.nav_open{
          transform: scaleY(1);
          opacity: 1;
          transition: transform 200ms ease-out, opacity 200ms ease;
          transition-delay: 200ms;

          ul{
            li{
              transform: translateX(0);
              opacity: 1;
              transition: opacity 550ms ease-in, transform 400ms ease;
            }
          }
        }
      }
    }  

    footer{
      p{
        margin-top: $extra__small_space;
      }
    }
      
  
  }
  
  //#############  PHONES AND TABLETS
  @media only screen and (min-width: 480px) {


  
  }
  
  //#############  TABLETS TO LAPTOP SCREENS
  @media only screen and (min-width: 801px) {
    header{
      nav{
       box-shadow: 4px 8px 7px rgba(172, 108, 35, 0.1);
      }
    }
    
  }
  
  //###############   DESKTOP SCREENS AND TV's
  @media only screen and (min-width: 1300px) {



  }