body{
    font-family: "Sarabun", Arial, Helvetica, sans-serif;
}



  //#############   SMALL PHONES AND WATCHES
  @media only screen and (min-width: 0px) {
    h1{
        font-size: 28px;
        font-weight: 800;
        color: $black;
        line-height: 50px;
        letter-spacing: 0.5px;
        margin: $mid_space 0; 
    }
    
    h2{
        font-size: 24px;
        font-weight: 800;
        color: $black;
    }
    h3{
        font-size: 22px;
        font-weight: 800;
        color: $black;
    }
    
    p, li{
        font-size: 16px;
        font-weight: 500;
        color: $black;
        line-height: 27px;
        letter-spacing: 0.002em;
    }
    p > strong{
        font-weight: 800; 
    }
    
    a{
        font-size: inherit;
        text-decoration: underline;
        font-weight: 800;
        color: inherit;

        &:hover{
            color: $white;
        }
    }

    .extra_small_paragraph{
        font-size: 16px;
    }
    

  
}

//#############  PHONES AND TABLETS
@media only screen and (min-width: 480px) {




}

//#############  TABLETS TO LAPTOP SCREENS
@media only screen and (min-width: 801px) {

    h1{
        font-size: 45px;
    }
    
    h2{
        font-size: 30px;
    }
    h3{
        font-size: 26px;
    }
    
    p, li{
        font-size: 18px;
    }

}

//###############   DESKTOP SCREENS AND TV's
@media only screen and (min-width: 1300px) {



}